# generated
/data.log
/estimate.json
/rich.json

# other repos
/generated
/hills
/routes
/yha

# generated, but kept in the repo (for now)
# calendar-camp.html
# calendar-hike.html
# calendar.css
# graph-camp-small.png
# graph-camp.png
# graph-hike-small.png
# graph-hike.png
# graph-length-small.png
# graph-length.png
# stats.css
# stats.html
# todo.json
