body {
	margin-top: 0;
	padding-top: 0;
}

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: block;
	float: left;
	list-style-type: none;
	width: 8em;
	font-size: 120%;
	background: blue;
	color: white;
	padding: 0.5em;
	border: 3px solid white;
	font-family: 'Fredoka One';

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

a li {
	background: #006 !important;
}

br {
	clear: left;
}

