body {
	margin-top: 0;
	padding-top: 0;
	background: white;
	color: black;
}

p.menu {
	margin: 0;
	padding: 0;
}

p.menu span {
	display: block;
	float: left;
	width: 8em;
	font-size: 120%;
	background: blue;
	color: white;
	padding: 0.5em;
	border: 3px solid white;
	font-family: 'Fredoka One';
	text-align: center;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

a span {
	background: #006 !important;
}

br {
	clear: left;
}

